/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #222222;
    margin-top: 8vh; /* Add margin to avoid content overlapping with fixed header */
    /* width: 100%;
    height: 100%; */
    width: 100vw;
    overflow-x: hidden;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vw;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 9vh;
    margin-top: 1vh;
}

.navbar {
    margin-left: 5vw; /* Adjust this to control the space between the logo and the navbar */
    
}

/* Navbar styles */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 5vw; /* Adjust spacing as needed */
    
}

.navbar a {
    text-decoration: none;
    color: #007ad9; /* Button color */
    font-weight: 500;
    position: relative;
    padding: 1.2vh 0; /* Add padding for underline effect */
    transition: color 0.3s ease; 
}

.navbar a.active {
    color: #007ad9;
    ; /* Button color */
}

/* Underline effect for active link */
.navbar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3vh;
    background-color: #007ad9; /* Underline color */
    border-radius: 0.2vh;
    transition: width 0.3s ease;

}


.auth-buttons {
    display: flex;
    margin-left: auto; /* Pushes the auth buttons to the right */
}

.auth-buttons button {
    margin-left: 1.5vw;
    padding: 1vh 2vw;
    border: none;
    border-radius: 2.5vh;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 4.5vh !important;
    width: 9vw;
    height: 5vh;
}

.sign-in {
    background: transparent;
    color: #007ad9;
    border: 1px solid #007ad9 !important;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.sign-up {
    background: #007AD9;
    color: white;
    margin-right: 1vw;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.sign-in:active,
.sign-up:active {
    transform: translateY(0.3vh); /* Simulates the button being pressed down */
    background-color: #005bb5; /* Darker shade on click for sign-up */
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2); /* Reduced shadow on click */
}

.sign-in:active {
    background-color: rgba(0, 123, 217, 0.1); /* Slight background color change on click */
    color: #005bb5; /* Darker text color on click */
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 2vw;
    background-image: linear-gradient(to left bottom, #000080, #07379f, #2e61b8, #598acc, #8bb2dd, #92c5e9, #9dd7f4, #ace9fd, #81ecfa, #52eeeb, #2aefd1, #36edab);
    background-size: cover;
    color: white;
    text-align: left;
    overflow: hidden;
    height: 95vh;
}

.herovectorBackground3 {
    position: absolute;
    top: 10%;
    right: 0;
    width: 50vw;
    height: 50vh;
}

.herovectorBackground4 {
    position: absolute;
    bottom: -8%;
    right: 0;
    width: 50vw;
    height: 50vh;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 13vw;
    height: 100vh;
    padding-bottom: 10vh;
    
}

.hero-image img{
    width: 100%;
    height: 100%;
}

.hero-content {
    flex: 1;
    max-width: 50vw;
    text-align: right;
    margin-right: 10vw;
    margin-bottom: 13vh;
    z-index: 1;
}

.hero-content h1 {
    font-size: clamp(28.44px,2.778vw, 51.56px);
    line-height: 1.2;
}

.hero-content p {
    margin-top: 0.7vh;
    font-size: clamp(17.06px,1.667vw, 30.94px);
}

.highlight {
    color: #67EE67;
}

.cta-button {
    padding: 1vh 3vw;
    background: #009400;
    color: white;
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    margin-top: 5.5vh;
    font-size: clamp(17.06px,1.667vw, 30.94px);
    font-weight: 500;
    transition: background-color 0.3s ease;
    animation: pulse 1.5s infinite;
}

.cta-button:hover {
    background-color: #0056b3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 #007AD980;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 1vh #007AD980;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 #007AD980;
    }
}

input[type=radio] {
    display: none;
  }

.cacard {
    position: absolute;
    width: 24%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    
  }
  
.carouselcard{
    display: flex;
    flex-direction: row;
}

.cacontainer {
    width: 100vw;
    /* max-width: 800px; */
    /* max-height: 600px; */
    position: absolute;
    z-index: 5;
    /* top: -10px; */
    transform: translateY(-50%);
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    top: 300px;
    right: 335px; */
}
  
/* .carosalInputRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

  .cacards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 230px;
    margin-bottom: 20px;
  }
  
  .caimg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
  }

#item-1:checked ~ .cacards #song-5,
#item-2:checked ~ .cacards #song-1,
#item-3:checked ~ .cacards #song-2,
#item-4:checked ~ .cacards #song-3,
#item-5:checked ~ .cacards #song-4 {
    /* position: relative; */
  transform: translateX(-92%) scale(0.8);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cacards #song-4,
#item-2:checked ~ .cacards #song-5,
#item-3:checked ~ .cacards #song-1,
#item-4:checked ~ .cacards #song-2,
#item-5:checked ~ .cacards #song-3 {
  transform: translateX(-164%) scale(0.6);
  opacity: 1;
  z-index: 0;
}

#item-1:checked ~ .cacards #song-3,
#item-2:checked ~ .cacards #song-4,
#item-3:checked ~ .cacards #song-5,
#item-4:checked ~ .cacards #song-1,
#item-5:checked ~ .cacards #song-2 {
  transform: translateX(164%) scale(0.6);
  opacity: 1;
  z-index: 0;
}

#item-1:checked ~ .cacards #song-2,
#item-2:checked ~ .cacards #song-3,
#item-3:checked ~ .cacards #song-4,
#item-4:checked ~ .cacards #song-5,
#item-5:checked ~ .cacards #song-1 {
  transform: translateX(92%) scale(0.8);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cacards #song-1,
#item-2:checked ~ .cacards #song-2,
#item-3:checked ~ .cacards #song-3,
#item-4:checked ~ .cacards #song-4,
#item-5:checked ~ .cacards #song-5 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

/* Apply box-shadow to the images */
#item-1:checked ~ #song-1 .caimg,
#item-2:checked ~ #song-2 .caimg,
#item-3:checked ~ #song-3 .caimg,
#item-4:checked ~ #song-4 .caimg,
#item-5:checked ~ #song-5 .caimg {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.cacard.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 50vh;
    z-index: 999;
    transform: none;
    cursor: default;
  }
  
  .cacard.active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    border-radius: 5px;
  }
  
  .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }



/* Overview Section */
.overview {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-color: #F1FFF1;
    padding: 5vh 2vw;
    overflow: hidden;
}

.vectorBackground1 {
    position: absolute;
    top: -2vh;
    left: -69vw;
    width: 150vw;
    height: 50vh;
    z-index: -1;
}

.Vectorbackground2 {
    position: absolute;
    top: 20vh;
    right: -25vh;
    width: 50vw;
    height: 50vh;
    z-index: -1; /* Ensure it stays behind the content */
}

.Vectorbackground3 {
    position: absolute;
    bottom: 100vh;
    left: -40vh;
    width: 50vw;
    height: 50vh;
    z-index: -1; /* Ensure it stays behind the content */
}

.overview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
    z-index: -1; /* Ensure it stays behind the content */
}

.ovsection-title {
    text-align: left;
    font-size: clamp(22.75px,2.222vw, 41.25px);
    margin-top: 14vh;
    margin-bottom: 4vh;
    margin-left: 10vw;
    color: #007ad9;
    font-family: 'Poppins', sans-serif; /* Ensure font is applied here too */
}

.overview-content {
    display: flex;
    flex-direction: column;
    gap: 3vh; /* Space between each card */
    margin-top: 15vh;
}

/* Card Styles */
.ovcard {
    max-width: 100%;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    font-family: 'Poppins', sans-serif; /* Ensure font is applied here too */
}

.ovcard img {
    max-width: 100%;
    border-radius: 1vh;
}

.ovcard-text {
    flex: 1;
    margin-top: 5vh;
}

.ovcard h3 {
    font-size: clamp(22.75px,2.222vw, 41.25px) !important;
    margin-bottom: 2vh;
    margin-left: -0.5vw;
}

.ovcard-text h3 {
    margin-top: -3vh;
    margin-right: 5vw;
}

.ovcard-text-1 p {
    font-size: clamp(14.22px,1.389vw, 25.78px) !important;
    margin-bottom: 2vh;
    width: 70% !important;
    text-align: justify !important;
    margin-top: 3vh;
}

.Tailored-container {
    position: relative;
    display: inline-block;
    margin-left: -5vh;
}

.Tailored-container2 {
    position: relative;
    display: inline-block;
    margin-top: 5vh;
    margin-bottom: -3vh;
}

.Tailored-container2 h3 {
    margin-top: -9vh !important;
    margin-right: 15vw;
}

.Tailored-container img {
    display: block;
    margin-top: -2vh;
}

.Tailored-container2 img {
    display: block;
    margin-top: -1vh;
    margin-left: -4vw;
}

.Tailored {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-53%, -95%);
    color: white;
    font-size: clamp(22.75px,2.2vw, 41.25px) !important;
    font-weight: 500;
    padding: 0.5vw;
}

.Tailored2 {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-51.5%, -110%);
    color: white;
    font-size: clamp(22.75px,2vw, 41.25px) !important;
    font-weight: 500;
    padding: 0.5vw;
}

.Tailored3 {
    position: relative;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -120%);
    color: white;
    font-size: clamp(22.75px,2vw, 41.25px) ;
    font-weight: 500;
    padding: 0.5vw;
    margin-left: 4.2vw;
    margin-top: 1.5vh;
}

.Tailored4 {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-54%, -110%);
    color: white;
    font-size: clamp(22.75px,2.2vw, 41.25px) !important;
    font-weight: bold;
    padding: 0.5vw;
}

.ovcard-image-1 img {
    width: 110vw !important;
    height: auto !important;
}

.ovcard p {
    font-size: clamp(14.22px,1.389vw, 25.78px) !important;
    margin-bottom: 2vh;
    width: 80%;
    text-align: justify;
}

/* Specific layouts */
.ovcard-image-first {
    flex-direction: row;
}

.ovcard-text-first {
    flex-direction: row-reverse;
}

/* Responsive Design */
@media (max-width: 900px) {
    .overview-content {
        padding: 2vh 2vw;
    }

    .ovsection-title {
        font-size: 4vw;
        margin-top: 5vh;
        margin-left: 5vw;
    }

    .ovcard h3 {
        font-size: 2.5vw;
        margin-bottom: 2vh;
    }

    .ovcard-text h3 {
        margin-top: -2vh;
        margin-right: 4vw;
    }

    .ovcard-text-1 p {
        font-size: 1.4vw;
        margin-top: 2vh;
    }

    .Tailored, .Tailored2, .Tailored3, .Tailored4 {
        font-size: 1.6vw;
        padding: 0.4vw;
    }

    .ovcard-image-1 img {
        width: 90vw !important;
    }
}

@media (max-width: 600px) {
    .ovsection-title {
        font-size: 5vw;
        margin-top: 3vh;
        margin-left: 3vw;
    }

    .ovcard h3 {
        font-size: 3vw;
    }

    .ovcard-text h3 {
        margin-top: -1vh;
        margin-right: 2vw;
    }

    .ovcard-text-1 p {
        font-size: 1.2vw;
    }

    .Tailored, .Tailored2, .Tailored3, .Tailored4 {
        font-size: 1.4vw;
        padding: 0.3vw;
    }

    .ovcard-image-1 img {
        width: 95vw !important;
    }
}


/* Footer */
footer {
    background-image: linear-gradient(to right top, #333399, #3e57b0, #5479c3, #739ad2, #9abbe0, #a9cce7, #bbdcee, #d0ebf6, #cbeff6, #c7f2f4, #c5f5f0, #c7f8e9);
    background-size: cover;
    color: white;
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif; /* Ensure font is applied here too */
}

/* Footer Links */
footer a {
    color: #222222;
    text-decoration: none;
    margin: 0 1vw;
}

footer p {
    margin-top: 1vh;
}

/* Footer Right Section */
.footer-right {
    color: #222222;
}

/* Move Elements for Responsive Design */
.move-right, .move-right-vector, .move-right-para, .move-right2, .move-right-vector2, .move-right-para2 {
    position: relative; /* Allows for positioning adjustments */
}

.move-right {
    left: 5vw; /* Adjusted for responsive design */
    text-align: right;
    margin-top: 1vh;
}

.move-right-vector {
    left: 3vw; /* Adjusted for responsive design */
    margin-top: -1vh;
    margin-left: 25vh;
}

.move-right-para {
    left: 2vw;
    text-align: right !important;
    margin-top: 1vh;
    margin-left: 16vh !important;
}

.move-right2 {
    left: -7vw; /* Adjusted for responsive design */
    text-align: right;
    margin-top: -9vh !important;
}

.move-right-vector2 {
    left: 12vw; /* Adjusted for responsive design */
    margin-top: 1vh;
}

.move-right-para2 {
    left: 9.5vw;
    text-align: right !important;
    margin-bottom: -2vh !important;
    padding-top: 5vh;

}

/* Responsive Design */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        height: auto; /* Adjust height to auto for smaller screens */
        text-align: center;
    }

    .move-right, .move-right-vector, .move-right-para, .move-right2, .move-right-vector2, .move-right-para2 {
        left: 0; /* Reset left positioning */
        text-align: center; /* Center text */
    }
    
    .move-right {
        margin-top: 2vh;
    }

    .move-right-vector {
        margin-top: 2vh;
    }

    .move-right-para {
        margin-top: 2vh;
    }

    .move-right2 {
        margin-top: 2vh;
    }

    .move-right-vector2 {
        margin-top: 2vh;
    }

    .move-right-para2 {
        margin-bottom: 2vh;
        padding-top: 2vh;
    }
}

